<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/style.css" />
		<title>Orbit Project</title>
	</head>
	<body>
		<div class="sidebar">
			<div class="logo">
				<a href="#">
					<img
						src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png"
						alt="Logo"
					/>
				</a>
			</div>

			<div class="navigation">
				<ul>
					<li>
						<a href="#">
							<span class="fa fa-home"></span>
							<span>Home</span>
						</a>
					</li>

					<li>
						<a href="#">
							<span class="fa fa-search"></span>
							<span>Search</span>
						</a>
					</li>

					<li>
						<a href="#">
							<span class="fa fas fa-book"></span>
							<span>Your Library</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="navigation">
				<ul>
					<li>
						<a href="#">
							<span class="fa fas fa-plus-square"></span>
							<span>Create Playlist</span>
						</a>
					</li>

					<li>
						<a href="#">
							<span class="fa fas fa-heart"></span>
							<span>Liked Songs</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="policies">
				<ul>
					<li>
						<a href="#">Cookies</a>
					</li>
					<li>
						<a href="#">Privacy</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="main-container">
			<div class="topbar">
				<div class="prev-next-buttons">
					<button type="button" class="fa fas fa-chevron-left"></button>
					<button type="button" class="fa fas fa-chevron-right"></button>
				</div>

				<div class="navbar">
					<ul>
						<li>
							<a href="#">Premium</a>
						</li>
						<li>
							<a href="#">Support</a>
						</li>
						<li>
							<a href="#">Download</a>
						</li>
						<li class="divider">|</li>
						<li>
							<a href="#">Sign Up</a>
						</li>
					</ul>
					<button type="button">Log In</button>
				</div>
			</div>

			<div class="spotify-playlists">
				<div class="vertical-flex">
					<h2>Our New Feature</h2>
					<div class="feature-container">
						<div class="horizontal-flex">
							<div class="vertical-flex">
								<img src="../static/camera.png" width="64px" height="48px" />
							</div>
							<div class="vertical-flex">
								<h4>MISSION (Music By Expression)</h4>
								<p>Try out our new feature!</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="spotify-playlists">
				<h2>Spotify Playlists</h2>

				<div class="list horizontal-scroll">
					<div class="item">
						<img
							src="https://i.scdn.co/image/ab67616d0000b2733b5e11ca1b063583df9492db"
						/>
						<div class="play">
							<span class="fa fa-play"></span>
						</div>
						<h4>Today's Top Hits</h4>
						<p>Rema & Selena Gomez are on top of the...</p>
					</div>

					<div class="item">
						<img
							src="https://i.scdn.co/image/ab67616d0000b2733b5e11ca1b063583df9492db"
						/>
						<div class="play">
							<span class="fa fa-play"></span>
						</div>
						<h4>All out 80s</h4>
						<p>The biggest songs of the 1090s.</p>
					</div>
				</div>
			</div>

			<div class="spotify-playlists">
				<h2>Focus</h2>
				<div class="list horizontal-scroll">
					<div class="item">
						<img
							src="https://i.scdn.co/image/ab67616d0000b2733b5e11ca1b063583df9492db"
						/>
						<div class="play">
							<span class="fa fa-play"></span>
						</div>
						<h4>Peaceful Piano</h4>
						<p>Relax and indulge with beautiful piano pieces</p>
					</div>

					<div class="item">
						<img
							src="https://i.scdn.co/image/ab67616d0000b2733b5e11ca1b063583df9492db"
						/>
						<div class="play">
							<span class="fa fa-play"></span>
						</div>
						<h4>Deep Focus</h4>
						<p>Keep calm and focus with ambient and pos...</p>
					</div>
				</div>
			</div>

			<div class="spotify-playlists">
				<h2>Mood</h2>
				<div class="list horizontal-scroll">
					<div class="item">
						<img
							src="https://i.scdn.co/image/ab67616d0000b2733b5e11ca1b063583df9492db"
						/>
						<div class="play">
							<span class="fa fa-play"></span>
						</div>
						<h4>Mood Booster</h4>
						<p>Get happy with today's dose of feel-good...</p>
					</div>

					<div class="item">
						<img
							src="https://i.scdn.co/image/ab67616d0000b2733b5e11ca1b063583df9492db"
						/>
						<div class="play">
							<span class="fa fa-play"></span>
						</div>
						<h4>Feelin' Good</h4>
						<p>Feel good with this positively timeless...</p>
					</div>
				</div>

				<hr />
			</div>
		</div>
	</body>
</html>
