<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/style.css" />
		<title>Orbit Project</title>
	</head>
	<body>
		<div class="sidebar">
			<div class="logo">
				<a href="#">
					<img
						src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png"
						alt="Logo"
					/>
				</a>
			</div>

			<div class="navigation">
				<ul>
					<li>
						<a href="#">
							<span class="fa fa-home"></span>
							<span>Home</span>
						</a>
					</li>

					<li>
						<a href="#">
							<span class="fa fa-search"></span>
							<span>Search</span>
						</a>
					</li>

					<li>
						<a href="#">
							<span class="fa fas fa-book"></span>
							<span>Your Library</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="navigation">
				<ul>
					<li>
						<a href="#">
							<span class="fa fas fa-plus-square"></span>
							<span>Create Playlist</span>
						</a>
					</li>

					<li>
						<a href="#">
							<span class="fa fas fa-heart"></span>
							<span>Liked Songs</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="policies">
				<ul>
					<li>
						<a href="#">Cookies</a>
					</li>
					<li>
						<a href="#">Privacy</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="main-container">
			<div class="topbar">
				<div class="prev-next-buttons">
					<button type="button" class="fa fas fa-chevron-left"></button>
					<button type="button" class="fa fas fa-chevron-right"></button>
				</div>

        <div class="navbar">
          <ul>
            <li>
              <a href="#">Sign Up</a>
            </li>
          </ul>
          <button type="button">Log In</button>
        </div>
      </div>

			<div class="spotify-playlists">
				<div class="vertical-flex">
					<h2>Our New Feature</h2>
					<div class="feature-container">
						<div class="horizontal-flex">
							<div class="vertical-flex">
								<img src="../static/camera.png" width="64px" height="48px" />
							</div>
							<div class="vertical-flex">
								<h4>MISSION (Music By Expression)</h4>
								<p>Try out our new feature!</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="spotify-playlists">
				<h2>Spotify Playlists</h2>

        <div class="list horizontal-scroll">
          <div class="item">
            <img
              src="https://i.scdn.co/image/ab67706f00000002242b37c45267d249dd3c6ad8"
            />
            <div class="play">
              <span class="fa fa-play"><svg fill="#000000" width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.303 8l11.394 7.997L11.303 24z"/></svg></span>
            </div>
            <h4>Today's Top Hits</h4>
            <p>Taylor Swift on top of the Hottest 50!</p>
          </div>

          <div class="item">
            <img
              src="https://i.scdn.co/image/ab67706f00000002a8d3aab15d688559fd01de7c"
            />
            <div class="play">
              <span class="fa fa-play"><svg fill="#000000" width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.303 8l11.394 7.997L11.303 24z"/></svg></span>
            </div>
            <h4>RapCaviar</h4>
            <p>
              Music from Gucci Mane, Kodak Black and YoungBoy Never Broke Again.
            </p>
          </div>

          <div class="item">
            <img
              src="https://i.scdn.co/image/ab67706f000000027bcd851d16216fae85f63a28"
            />
            <div class="play">
              <span class="fa fa-play"><svg fill="#000000" width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.303 8l11.394 7.997L11.303 24z"/></svg></span>
            </div>
            <h4>All Out 2010s</h4>
            <p>
              The biggest songs of the 2010s
            </p>
          </div>

          <div class="item">
            <img
              src="https://i.scdn.co/image/ab67706f0000000278b4745cb9ce8ffe32daaf7e"
            />
            <div class="play">
              <span class="fa fa-play"><svg fill="#000000" width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.303 8l11.394 7.997L11.303 24z"/></svg></span>
            </div>
            <h4>Rock Classic</h4>
            <p>
              Rock legends &amp; epic songs that continue to inspire generations. Cover: Foo Fighters
            </p>
          </div>

          <div class="item">
            <img
              src="https://i.scdn.co/image/ab67706f00000002242b37c45267d249dd3c6ad8"
            />
            <div class="play">
              <span class="fa fa-play"><svg fill="#000000" width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.303 8l11.394 7.997L11.303 24z"/></svg></span>
            </div>
            <h4>Today's Top Hits</h4>
            <p>Taylor Swift on top of the Hottest 50!</p>
          </div>

          <div class="item">
            <img
              src="https://i.scdn.co/image/ab67706f00000002a8d3aab15d688559fd01de7c"
            />
            <div class="play">
              <span class="fa fa-play"><svg fill="#000000" width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.303 8l11.394 7.997L11.303 24z"/></svg></span>
            </div>
            <h4>RapCaviar</h4>
            <p>
              Music from Gucci Mane, Kodak Black and YoungBoy Never Broke Again.
            </p>
          </div>

          <div class="item">
            <img
              src="https://i.scdn.co/image/ab67706f000000027bcd851d16216fae85f63a28"
            />
            <div class="play">
              <span class="fa fa-play"><svg fill="#000000" width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.303 8l11.394 7.997L11.303 24z"/></svg></span>
            </div>
            <h4>All Out 2010s</h4>
            <p>
              The biggest songs of the 2010s
            </p>
          </div>

          <div class="item">
            <img
              src="https://i.scdn.co/image/ab67706f0000000278b4745cb9ce8ffe32daaf7e"
            />
            <div class="play">
              <span class="fa fa-play"><svg fill="#000000" width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.303 8l11.394 7.997L11.303 24z"/></svg></span>
            </div>
            <h4>Rock Classic</h4>
            <p>
              Rock legends &amp; epic songs that continue to inspire generations. Cover: Foo Fighters
            </p>
          </div>

        </div>
    </div>
  </body>
</html>
